body{
  margin: 0;
}
.header{
  padding: 30px;
  background-color: #3498DB;
  font-size: 30px;
  font-family: sans-serif;
}
.alamat{
  font-size: 15px;
}
.topnav {
  font-size: 15px;
  background-color: #2E86C1;
  overflow: hidden; 
  list-style:none;
  text-align:center;
}
.topnav li{
    display:inline;
}
.topnav a {
  display:inline-block;
  color: #f2f2f2;
  padding: 16px 5px;
  text-decoration: none;
  font-size: 25px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  color: white;
}
.isi{
  overflow: hidden; 
  height: 390px;
  width: 100%;
  position: relative;
  padding: 10px;
}
.tabel{
  font-size: 20px;
}